
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

:root{--theme1:#CAD3C8;--theme2: #3f5c58;}
*{box-sizing: border-box;}
*{font-family:"Ysabeau Infant", sans-serif ;}
h1,h2,h3,h4,h5,span{font-family: "Ysabeau Office", sans-serif;}

.bg-banner{background-image: url(./assets/laptop.jpg);background-size: 100%; 
background-position: center;}
.bg-banner2{background-image: url(./assets/blogging.jpg);background-size: 100%; 
background-position:center;}
.banner-layer{background-color: rgba(0,0,0,0.7); padding-block: 90px; text-align: center; color: white;}
body{background-color: white;}
.bg-theme1{background-color: var(--theme1);}
.bg-theme2{background-color: var(--theme2);}
.text-theme1{color: var(--theme1);}
.text-theme2{color: var(--theme2);}
.text-justify{text-align: justify;}
#about{line-height:30px;}
.padding{padding-block: 100px;}
a{text-decoration: none;}
ul{text-decoration: none;list-style-type: none;}
#hr{ width:60%; margin: auto;}
